{% if config.extra.social_icons %}
<div class="social">
  <ul class="social__list list-reset">
    {% for social_icon in config.extra.social_icons %}
    <li class="social__item">
      <a class="social__link" href="{{ social_icon.url | replace(from='$BASE_URL', to=config.base_url) }}"
        target="_blank" rel="noopener" aria-label="{{ social_icon.icon }} icon">
        {% if social_icon.icon == "Google Scholar" %}
        <i class="ion ion-md-school"></i>
        {% else %}
        <i class="ion ion-logo-{{ social_icon.icon | lower }}"></i>
        {% endif %}
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
{% endif %}