{% if page.lower or page.higher %}
<div class="post__navigation animate">

  {% if page.lower %}
  <a class="post__prev" href="{{ page.lower.permalink }}">
    {% if page.lower.extra.image %}
    <div class="prev__image">
      <img loading="lazy" src="{{ get_url(path=page.lower.extra.image) }}" alt="{{ page.lower.title }}">
    </div>
    {% endif %}
    <div class="prev__box">
      <span class="post__nav post__nav__prev">Prev post</span>
      <h2 class="post__nav__title">{{ page.lower.title }}</h2>
    </div>
  </a>
  {% endif %}

  {% if page.higher %}
  <a class="post__next" href="{{ page.higher.permalink }}">
    <div class="next__box">
      <span class="post__nav post__nav__next">Next post</span>
      <h2 class="post__nav__title">{{ page.higher.title }}</h2>
    </div>
    {% if page.higher.extra.image %}
    <div class="next__image">
      <img loading="lazy" src="{{ get_url(path=page.higher.extra.image) }}" alt="{{ page.higher.title }}">
    </div>
    {% endif %}
  </a>
  {% endif %}

</div>
{% endif %}
