.c-page-image {
  position: relative;
  transform: translate(0);
  padding-top: 0;
  margin-bottom: 48px;
  min-height: auto;
  border-radius: 16px;
  overflow: hidden;
  background: $blue-gray;
  background: $blue-gray;
  display: inline-block;
  /* shrink to image width */
  width: fit-content;
  margin: 0 auto 48px auto;
  /* center horizontally */

  img {
    position: relative;
    width: auto;
    height: auto;
    max-width: 100%;
    /* max-height is set inline in HTML to 200px */
    object-fit: cover;
    user-select: none;
  }

  @media only screen and (max-width: $desktop) {
    margin-bottom: 40px;
  }

  @media only screen and (max-width: $mobile) {
    margin-bottom: 32px;
  }
}