{% import "components/project-card.html" as project_card %}
{% macro projects_section(data) %}
<!-- begin projects -->
<section class="section projects" id="projects">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="contaniner__inner animate">

          <div class="section__info">
            <div class="section__head">
              <h2 class="section__title">{{ data.title }}</h2>
              <a class="section__link" href="{{ data.link_url | replace(from='$BASE_URL', to=config.base_url) }}">View
                all <i class="ion ion-md-arrow-forward"></i></a>
            </div>
            <div class="section__description">{{ data.description_html | replace(from='$BASE_URL', to=config.base_url) |
              safe }}</div>
          </div>

          {% if data.show_projects %}
          <div class="row">
            {% set section = get_section(path="projects/_index.md") %}
            {% for i in range(end=6) %}
            {% if i < section.pages | length %} {% set post=section.pages | nth(n=i) %} {{
              project_card::project_card(data=post, index=i) }} {% endif %} {% endfor %} </div>
              {% endif %}

          </div>
        </div>
      </div>
    </div>
</section>
{% endmacro projects_section %}